.movie_detail {
  color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px 70px;
}

.movie_detail_data {
  padding-right: 30px;
}

.movie_detail_data h2 {
  border-bottom: 1px solid white;
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 2.2rem;
}
.movie_detail_data h4 {
  font-weight: 600;
  font-size: 1.6rem;
}
