.navbar {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 30px;
  z-index: 99999999999;
}
.nav-bar-scroll {
  background-color: black;
  box-shadow: 0px 2px 4px 2px #0f0f0f;
}

.title a {
  color: red;
  letter-spacing: 1px;
}

.title a:link {
  text-decoration: none;
  color: red;
}

.nav-actions {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.nav-actions button {
  background-color: transparent;
  color: white;
  border: none;
  margin: auto 4px;
  cursor: pointer;
  font-weight: 800;
}

.hide {
  display: none;
}
