.results-list {
  color: white;
}
.results-list h2 {
  margin-left: 10px;
  font-size: 2rem;
}
.result-element {
  width: 100%;
  margin: 10px 20px 20px 20px;
}
.result-element:hover {
  cursor: pointer;
}
.result-element img {
  width: 100%;
}
.results-container {
  margin: 0 auto;
  width: 98%;
}
.no-result {
  margin: 0 auto;
  font-size: 1.5rem;
}
.active {
  transform: scale(1.1);
}
.row-result {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px;
}
.movie-detail {
  grid-area: 2/1/3/9;
}
